#### Datathon

In [1]:
# Importacion de Librerias a usar.
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Para que se muestre sin notacion cientifica, con 2 decimales.
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
df = pd.read_csv('properties_colombia\properties_colombia_train.csv')
df.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry
0,861131,CScTjaFiP6yCzS8tFX0ZVA==,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.20,-75.57,Colombia,Antioquia,...,NaN,NaN,"9,000,000,000.00",COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203)
1,200972,DlCxox9+FuugkxS2kBVfJg==,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.72,-74.07,Colombia,Cundinamarca,...,NaN,NaN,"625,000,000.00",COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485)
2,554622,yitN1AigL45gh/K2YSF8rw==,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.71,-74.03,Colombia,Cundinamarca,...,NaN,NaN,"420,000,000.00",COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709)
3,540321,hELQ9njwODbLMpATXieRdQ==,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Colombia,Santander,...,NaN,NaN,"1,310,000,000.00",COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY
4,448920,aBCtKT7LDzt2CxJQ+gVFEA==,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Colombia,Antioquia,...,NaN,NaN,"210,000,000.00",COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY

#### Calculo de la media de los precios

In [4]:
media = df.price.mean()
media

643605091.0064613

In [5]:
# Se ve que hay valores nulos en la columna 'price'
df.price.isnull().sum()

63

#### Calculo de la columna 'target'

In [6]:

df['target'] = np.where(df['price'] > media, 1, 0)
df.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry,target
0,861131,CScTjaFiP6yCzS8tFX0ZVA==,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.20,-75.57,Colombia,Antioquia,...,NaN,"9,000,000,000.00",COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203),1
1,200972,DlCxox9+FuugkxS2kBVfJg==,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.72,-74.07,Colombia,Cundinamarca,...,NaN,"625,000,000.00",COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485),0
2,554622,yitN1AigL45gh/K2YSF8rw==,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.71,-74.03,Colombia,Cundinamarca,...,NaN,"420,000,000.00",COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709),0
3,540321,hELQ9njwODbLMpATXieRdQ==,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Colombia,Santander,...,NaN,"1,310,000,000.00",COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY,1
4,448920,aBCtKT7LDzt2CxJQ+gVFEA==,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Colombia,Antioquia,...,NaN,"210,000,000.00",COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY,0

In [7]:
# Se elimina la columna 'price'
df.drop(['price'], axis = 'columns', inplace=True)
df.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,geometry,target
0,861131,CScTjaFiP6yCzS8tFX0ZVA==,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.20,-75.57,Colombia,Antioquia,...,NaN,NaN,COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203),1
1,200972,DlCxox9+FuugkxS2kBVfJg==,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.72,-74.07,Colombia,Cundinamarca,...,NaN,NaN,COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485),0
2,554622,yitN1AigL45gh/K2YSF8rw==,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.71,-74.03,Colombia,Cundinamarca,...,NaN,NaN,COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709),0
3,540321,hELQ9njwODbLMpATXieRdQ==,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Colombia,Santander,...,NaN,NaN,COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY,1
4,448920,aBCtKT7LDzt2CxJQ+gVFEA==,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Colombia,Antioquia,...,NaN,NaN,COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY,0

In [8]:
# Para ver si la columna 'Unnamed: 0' tiene valores repetidos. 
df['Unnamed: 0'].duplicated().value_counts()

False    197549
Name: Unnamed: 0, dtype: int64

In [9]:
# Se elimina la columna 'id' y se renombra a la columna 'Unnamed: 0' para que sea el nuevo 'id' 

df.drop(['id'], axis = 'columns', inplace=True)
df.rename(columns={'Unnamed: 0': 'id'}, inplace = True)

df.head()

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,geometry,target
0,861131,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.20,-75.57,Colombia,Antioquia,Medellín,...,NaN,NaN,COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203),1
1,200972,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.72,-74.07,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485),0
2,554622,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.71,-74.03,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709),0
3,540321,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Colombia,Santander,Bucaramanga,...,NaN,NaN,COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY,1
4,448920,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Colombia,Antioquia,Medellín,...,NaN,NaN,COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY,0

#### Eliminacion de Columnas

In [10]:
'''
Funcion que ayuda a identificar que columnas tienen valores unicos.
Devuelve un diccionario con los nombres de las columnas con valores unicos
y con el valor unico que contiene. 

'''

def identificar_columnas():
    columnas = df.columns
    columnas_unicas = []
    valores_unicos = []


    for i in columnas: 
        if len(df[i].value_counts()) == 1: 
            columnas_unicas.append(i)
            valores_unicos.append(df[i][1])
    


    return { 'columnas_unicas': columnas_unicas, 'valores_unicos': valores_unicos}


identificar_columnas()

{'columnas_unicas': ['ad_type', 'l1', 'price_period', 'operation_type'],
 'valores_unicos': ['Propiedad', 'Colombia', nan, 'Venta']}

In [11]:
# Guardamos los valores en un dataframe que contiene estas columnas, por si mas adelante se requieran estos datos. 

df_col_unicas = pd.DataFrame(identificar_columnas())
df_col_unicas

  columnas_unicas valores_unicos
0         ad_type      Propiedad
1              l1       Colombia
2    price_period            NaN
3  operation_type          Venta

In [12]:
# Se elimina las columnas cuyo valores son unicos, ya que no aportan mayor informacion, ademas de ocupar mayor memoria.


df.drop(df_col_unicas.columnas_unicas, axis = 'columns', inplace = True)
df.head()

,id,start_date,end_date,created_on,lat,lon,l2,l3,l4,l5,...,bedrooms,bathrooms,surface_total,surface_covered,currency,title,description,property_type,geometry,target
0,861131,2020-12-14,9999-12-31,2020-12-14,6.20,-75.57,Antioquia,Medellín,El Poblado,NaN,...,4.00,4.00,NaN,NaN,COP,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,POINT (-75.572 6.203),1
1,200972,2020-09-16,2021-05-14,2020-09-16,4.72,-74.07,Cundinamarca,Bogotá D.C,Zona Noroccidental,Suba,...,3.00,2.00,NaN,NaN,COP,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,POINT (-74.0731146 4.7227485),0
2,554622,2020-08-19,2020-08-20,2020-08-19,4.71,-74.03,Cundinamarca,Bogotá D.C,Zona Norte,Usaquén,...,NaN,2.00,NaN,NaN,COP,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,POINT (-74.03 4.709),0
3,540321,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Santander,Bucaramanga,NaN,NaN,...,NaN,1.00,NaN,NaN,COP,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,POINT EMPTY,1
4,448920,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Antioquia,Medellín,NaN,NaN,...,NaN,2.00,NaN,NaN,COP,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,POINT EMPTY,0

In [13]:
# En el readme proporcionado, se nos comenta que la columna 'created_on' es la  Fecha de alta de la primera versión del aviso.
# Pero, vemos que para nuestros registros son los  valores que la columna 'start_date'
(df.start_date == df.created_on).value_counts()

True    197549
dtype: int64

In [14]:
# Como no aportara mayor informacion, se elimina la columna 'created_on'
df.drop('created_on', axis = 'columns', inplace = True)

df.head()

,id,start_date,end_date,lat,lon,l2,l3,l4,l5,l6,...,bedrooms,bathrooms,surface_total,surface_covered,currency,title,description,property_type,geometry,target
0,861131,2020-12-14,9999-12-31,6.20,-75.57,Antioquia,Medellín,El Poblado,NaN,NaN,...,4.00,4.00,NaN,NaN,COP,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,POINT (-75.572 6.203),1
1,200972,2020-09-16,2021-05-14,4.72,-74.07,Cundinamarca,Bogotá D.C,Zona Noroccidental,Suba,NaN,...,3.00,2.00,NaN,NaN,COP,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,POINT (-74.0731146 4.7227485),0
2,554622,2020-08-19,2020-08-20,4.71,-74.03,Cundinamarca,Bogotá D.C,Zona Norte,Usaquén,Bella Suiza,...,NaN,2.00,NaN,NaN,COP,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,POINT (-74.03 4.709),0
3,540321,2020-11-23,2020-11-30,NaN,NaN,Santander,Bucaramanga,NaN,NaN,NaN,...,NaN,1.00,NaN,NaN,COP,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,POINT EMPTY,1
4,448920,2020-10-06,2020-10-07,NaN,NaN,Antioquia,Medellín,NaN,NaN,NaN,...,NaN,2.00,NaN,NaN,COP,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,POINT EMPTY,0

In [15]:
df.currency.value_counts()

COP    197474
USD         8
Name: currency, dtype: int64

In [16]:
df[df.currency == 'USD']

,id,start_date,end_date,lat,lon,l2,l3,l4,l5,l6,...,bedrooms,bathrooms,surface_total,surface_covered,currency,title,description,property_type,geometry,target
5902,968218,2020-08-25,9999-12-31,4.91,-73.99,Cundinamarca,Sopó,NaN,NaN,NaN,...,3.00,NaN,NaN,NaN,USD,Vendo espectacular casa entre Bogota y Briceño,Espectacular casa entre Bogota- Briceño km 12 ...,Casa,POINT (-73.9931885 4.9143096),0
49196,110,2020-10-07,2021-01-22,10.51,-75.50,Bolívar,Cartagena,NaN,NaN,NaN,...,5.00,NaN,NaN,NaN,USD,Exclusive beach house for sale - Manzanillo de...,¡EXCLUSIVE BEACH HOUSE FOR SALE - MANZANILLO D...,Casa,POINT (-75.4986852407 10.5138313669),0
56159,874575,2020-10-26,2020-10-26,4.74,-74.10,Cundinamarca,Bogotá D.C,Zona Noroccidental,NaN,NaN,...,5.00,NaN,NaN,NaN,USD,Casa en Venta Costa del Este RAH PA: 20-11172,Viva en una casa espaciosa con terrazas y pati...,Casa,POINT (-74.098302 4.7390028),0
56522,874396,2020-10-26,2020-10-26,4.70,-74.04,Cundinamarca,Bogotá D.C,Zona Norte,Usaquén,NaN,...,4.00,NaN,NaN,NaN,USD,Apartamento en Venta Santa Maria RAH PA: 20-10683,Majestuoso apartamento a estrenar con la mejor...,Apartamento,POINT (-74.0438943 4.6957568),0
116979,51666,2020-09-13,2021-01-12,NaN,NaN,Santander,Bucaramanga,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,USD,Villa for sale Bali,Villa for sale Bali<br />\n<br />\nLocation: J...,Finca,POINT EMPTY,0
136236,200614,2020-09-16,2020-10-29,4.62,-74.09,Cundinamarca,Bogotá D.C,Zona Centro,Puente Aranda,NaN,...,3.00,2.00,NaN,NaN,USD,Venta Casa Excelente,<br />\n - Calefacción\n- Parrilla\n <br />\n ...,Casa,POINT (-74.0909602 4.622794),0
137025,630538,2020-08-29,9999-12-31,12.59,-81.71,San Andrés Providencia y Santa Catalina,NaN,NaN,NaN,NaN,...,0.00,NaN,NaN,NaN,USD,HOTEL EN VENTA EN LA ISLA DE SAN ANDRÉS,\nUn Hotel Boutique TOTALMENTE frente al mar.\...,Otro,POINT (-81.7145490646 12.5859785199),0
167143,102295,2020-08-08,9999-12-31,10.83,-75.16,Atlántico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,USD,Lote en venta Vía Barranquilla Cartagena,OPORTUNIDAD DE INVERSIÒN EN EL CARIBE COLOMBIA...,Lote,POINT (-75.1602602005 10.8293016581),0

##### Vemos la informacion de las columnas, y vemos que columnas podemos eliminar por la cantidad de datos nulos excesivos.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197549 entries, 0 to 197548
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               197549 non-null  int64
 1   start_date       197549 non-null  object
 2   end_date         197549 non-null  object
 3   lat              148051 non-null  float64
 4   lon              148051 non-null  float64
 5   l2               197549 non-null  object
 6   l3               186517 non-null  object
 7   l4               45367 non-null   object
 8   l5               27409 non-null   object
 9   l6               6867 non-null    object
 10  rooms            27537 non-null   float64
 11  bedrooms         40525 non-null   float64
 12  bathrooms        156467 non-null  float64
 13  surface_total    6974 non-null    float64
 14  surface_covered  9802 non-null    float64
 15  currency         197482 non-null  object
 16  title            197548 non-null  object
 17  description      197428 non-null  object
 18  property_type    197549 non-null  object
 19  geometry         197549 non-null  object
 20  target           197549 non-null  int32
dtypes: float64(7), int32(1), int64(1), object(12)
memory usage: 30.9+ MB

In [18]:
# Apriori se elimina las columnas: 'l5', 'l6', 'surface_total', 'surface_covered', ya que tiene un gran cantidad de valores nulos. 

aux = ['l5', 'l6', 'surface_total', 'surface_covered', 'title', 'description']
df.drop(aux , axis = 'columns', inplace = True)

df.head()

,id,start_date,end_date,lat,lon,l2,l3,l4,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
0,861131,2020-12-14,9999-12-31,6.20,-75.57,Antioquia,Medellín,El Poblado,NaN,4.00,4.00,COP,Casa,POINT (-75.572 6.203),1
1,200972,2020-09-16,2021-05-14,4.72,-74.07,Cundinamarca,Bogotá D.C,Zona Noroccidental,NaN,3.00,2.00,COP,Apartamento,POINT (-74.0731146 4.7227485),0
2,554622,2020-08-19,2020-08-20,4.71,-74.03,Cundinamarca,Bogotá D.C,Zona Norte,NaN,NaN,2.00,COP,Casa,POINT (-74.03 4.709),0
3,540321,2020-11-23,2020-11-30,NaN,NaN,Santander,Bucaramanga,NaN,NaN,NaN,1.00,COP,Otro,POINT EMPTY,1
4,448920,2020-10-06,2020-10-07,NaN,NaN,Antioquia,Medellín,NaN,NaN,NaN,2.00,COP,Apartamento,POINT EMPTY,0

#### Ahora, se analiza con mayor detenimiento aquellas columas que se cree que se puede eliminar.

In [19]:
# COLUMNA: 'l4'

# Se ve que el 77% de los datos son nulos. 
df.l4.isnull().sum()/197549

0.7703506471812057

In [20]:
df.l4.value_counts()

Zona Norte                6736
Zona Chapinero            5414
Zona Noroccidental        5335
El Poblado                4017
Zona Suroccidental        3988
Zona Occidental           3402
Zona Sur                  1961
Laureles                  1886
Zona Centro               1805
Lili                      1611
Belén                     1579
La América                 914
Candelaria                 725
Robledo                    699
Ciudad Jardín              605
Buenos Aires               497
El Ingenio                 486
El Recreo                  362
Castilla                   323
Guayabal                   281
Altavista                  219
Santa Elena                216
San Javier                 185
San Cristóbal              181
Aranjuez                   177
Olaya                      154
Doce de Octubre            141
Pance                      135
San Fernando Viejo         132
Nuevo Horizonte            131
Villa Hermosa              118
Paseo de la Castellana     116
Santa Isabel               111
San Antonio de Prado        95
Las Palmas                  94
Manrique                    84
Caney                       67
San Fernando Nuevo          61
La Flora                    56
Santa Cruz                  40
Ríomar                      37
El Limonar                  29
Mejoras Públicas            19
Carrizal                    18
Norte-Centro Histórico      18
San Alonso                  17
Popular                     17
Santa Mónica                13
San Mateo                   11
Antonia Santos               8
Nueva Granada                8
Puerto Colombia              7
Palmitas                     6
El Prado                     6
Alarcón                      6
San Felipe                   5
Campo Alegre                 2
Soledad                      1
Name: l4, dtype: int64

In [21]:
# Se elimina la columna 'l4' porque se cree que no aportara en nuestra prediccion.

df.drop('l4' , axis = 'columns', inplace = True)

#### Analisis de las columnas: 'rooms', 'bedrooms', 'bathrooms'

- Analizamos estas columnas en conjunto, porque podemos encontrar una relación entre ellas. Así que podemos ir completando valores faltantes.

In [22]:
# PRIMER CASO: Cuando la columna 'property_type' es de tipo 'Lote', completamos  los valores NaN 
#  con ceros a las columnas 'rooms', 'bedroms' y 'bathrooms' ya que tiene sentido que si solo es Lote no hay nada construido.

In [23]:
df['rooms'] = np.where(df.property_type == 'Lote', 0, df.rooms )
df['bedrooms'] = np.where(df.property_type == 'Lote', 0, df.bedrooms )
df['bathrooms'] = np.where(df.property_type == 'Lote', 0, df.bathrooms )

# Se comprueba que se hizo correctamente el cambio
df[df.property_type == 'Lote']

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
47,845438,2020-11-09,2020-12-29,7.91,-72.47,Norte de Santander,Cúcuta,0.00,0.00,0.00,COP,Lote,POINT (-72.4663953 7.9107871),0
67,894402,2020-11-26,2021-09-07,6.16,-75.44,Antioquia,NaN,0.00,0.00,0.00,COP,Lote,POINT (-75.4358966501 6.1570948341),1
76,631950,2020-07-29,2020-09-10,3.62,-76.42,Valle del Cauca,Palmira,0.00,0.00,0.00,COP,Lote,POINT (-76.416 3.618),0
92,776846,2020-12-03,2021-01-01,3.46,-76.54,Valle del Cauca,Cali,0.00,0.00,0.00,COP,Lote,POINT (-76.5350318 3.45994042),1
93,872623,2020-10-26,2021-02-19,6.56,-75.83,Antioquia,NaN,0.00,0.00,0.00,COP,Lote,POINT (-75.82554 6.5592991),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197450,339633,2020-10-19,2020-11-25,6.17,-75.66,Antioquia,Medellín,0.00,0.00,0.00,COP,Lote,POINT (-75.657 6.165),0
197457,112739,2020-09-15,2020-09-20,6.44,-75.33,Antioquia,Barbosa,0.00,0.00,0.00,COP,Lote,POINT (-75.3318156 6.4379517),0
197467,72363,2020-09-28,2020-10-04,4.81,-75.84,Risaralda,Pereira,0.00,0.00,0.00,COP,Lote,POINT (-75.84079148 4.80672901),0
197505,962697,2020-07-30,2020-07-31,2.93,-75.26,Huila,Neiva,0.00,0.00,0.00,COP,Lote,POINT (-75.2593908 2.9315916),1
197526,976212,2020-11-27,2021-01-25,NaN,NaN,Valle del Cauca,Tuluá,0.00,0.00,0.00,COP,Lote,POINT EMPTY,0

In [24]:
# Analisis de 'rooms'

df.rooms.value_counts()

0.00     16507
3.00     14278
2.00      4474
4.00      4134
1.00      1536
5.00      1344
6.00       635
7.00       306
8.00       220
10.00      127
9.00       107
11.00       59
12.00       51
14.00       27
15.00       26
13.00       21
16.00       19
17.00       12
20.00        7
18.00        5
19.00        4
24.00        4
23.00        4
31.00        3
21.00        3
25.00        2
40.00        2
30.00        2
27.00        2
22.00        1
Name: rooms, dtype: int64

In [25]:
# Primero se ve la cantidad de registros que tienen las columnas 'bedrooms' y 'bathrooms' iguales. 
# Sin contar los ceros(ya que eran los datos nulos que se completo con ceros. )

df[(df.bedrooms == df.bathrooms) & (df.bedrooms != 0.00)]

# En total hay 6627

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
0,861131,2020-12-14,9999-12-31,6.20,-75.57,Antioquia,Medellín,NaN,4.00,4.00,COP,Casa,POINT (-75.572 6.203),1
56,782436,2020-12-03,9999-12-31,11.00,-74.80,Atlántico,Barranquilla,3.00,3.00,3.00,COP,Apartamento,POINT (-74.799 11),0
69,861221,2020-12-14,9999-12-31,6.14,-75.39,Antioquia,Rionegro,NaN,5.00,5.00,COP,Otro,POINT (-75.389 6.137),1
83,428128,2020-09-25,9999-12-31,10.42,-75.53,Bolívar,Cartagena,1.00,1.00,1.00,COP,Apartamento,POINT (-75.534 10.418),0
101,674555,2020-08-24,2021-06-16,3.49,-76.53,Valle del Cauca,Cali,4.00,4.00,4.00,COP,Casa,POINT (-76.531 3.487),0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197485,993094,2020-12-17,9999-12-31,11.00,-74.80,Atlántico,Barranquilla,3.00,3.00,3.00,COP,Apartamento,POINT (-74.796 10.996),0
197486,974360,2020-11-27,9999-12-31,10.45,-75.52,Bolívar,Cartagena,NaN,2.00,2.00,COP,Apartamento,POINT (-75.517 10.449),0
197493,782402,2020-12-03,2021-02-24,4.74,-74.04,Cundinamarca,Bogotá D.C,NaN,3.00,3.00,COP,Casa,POINT (-74.0400671 4.7373364),0
197496,810145,2020-11-30,2021-02-11,4.96,-74.07,Cundinamarca,Chía,NaN,4.00,4.00,COP,Casa,POINT (-74.066 4.961),0
197500,972753,2020-08-25,9999-12-31,4.67,-74.05,Cundinamarca,Bogotá D.C,NaN,3.00,3.00,COP,Apartamento,POINT (-74.0507513 4.6674356),1

In [26]:
# Vemos la cantidad de valores nulos que tiene la columna 'rooms' cuando las columnas 'bedrooms' y 'bathrooms' son iguales. 
df[(df['bedrooms']== df['bathrooms'])  & (df['rooms'].isnull()) ]

#  En total hay 3414 registros que cumplen esta condición '''

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
0,861131,2020-12-14,9999-12-31,6.20,-75.57,Antioquia,Medellín,NaN,4.00,4.00,COP,Casa,POINT (-75.572 6.203),1
69,861221,2020-12-14,9999-12-31,6.14,-75.39,Antioquia,Rionegro,NaN,5.00,5.00,COP,Otro,POINT (-75.389 6.137),1
129,898236,2020-11-26,9999-12-31,4.60,-74.15,Cundinamarca,Bogotá D.C,NaN,4.00,4.00,COP,Casa,POINT (-74.149 4.602),0
157,192712,2020-08-01,9999-12-31,5.05,-75.49,Caldas,Manizales,NaN,2.00,2.00,COP,Apartamento,POINT (-75.4879271 5.051128),0
230,495820,2020-07-31,9999-12-31,10.39,-75.52,Bolívar,Cartagena,NaN,1.00,1.00,COP,Apartamento,POINT (-75.5201256 10.3947713),0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197465,496043,2020-07-31,9999-12-31,10.44,-75.52,Bolívar,Cartagena,NaN,2.00,2.00,COP,Apartamento,POINT (-75.5215635 10.4429159),0
197486,974360,2020-11-27,9999-12-31,10.45,-75.52,Bolívar,Cartagena,NaN,2.00,2.00,COP,Apartamento,POINT (-75.517 10.449),0
197493,782402,2020-12-03,2021-02-24,4.74,-74.04,Cundinamarca,Bogotá D.C,NaN,3.00,3.00,COP,Casa,POINT (-74.0400671 4.7373364),0
197496,810145,2020-11-30,2021-02-11,4.96,-74.07,Cundinamarca,Chía,NaN,4.00,4.00,COP,Casa,POINT (-74.066 4.961),0
197500,972753,2020-08-25,9999-12-31,4.67,-74.05,Cundinamarca,Bogotá D.C,NaN,3.00,3.00,COP,Apartamento,POINT (-74.0507513 4.6674356),1

In [27]:
# Vemos la cantidad de registros que cumplen que las columnas 'rooms', 'bedrooms' y 'bathrooms' son iguales. 
df[ (df['rooms'] == df['bedrooms']) & ( df['bedrooms'] == df['bathrooms']) & (df.rooms != 0)]

# En total hay 3209

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
56,782436,2020-12-03,9999-12-31,11.00,-74.80,Atlántico,Barranquilla,3.00,3.00,3.00,COP,Apartamento,POINT (-74.799 11),0
83,428128,2020-09-25,9999-12-31,10.42,-75.53,Bolívar,Cartagena,1.00,1.00,1.00,COP,Apartamento,POINT (-75.534 10.418),0
101,674555,2020-08-24,2021-06-16,3.49,-76.53,Valle del Cauca,Cali,4.00,4.00,4.00,COP,Casa,POINT (-76.531 3.487),0
102,346825,2020-09-10,2020-09-19,3.39,-76.54,Valle del Cauca,Cali,3.00,3.00,3.00,COP,Apartamento,POINT (-76.538 3.389),0
128,660851,2020-11-21,2021-03-15,10.40,-75.55,Bolívar,Cartagena,2.00,2.00,2.00,COP,Apartamento,POINT (-75.553 10.405),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197081,650082,2020-11-19,2020-12-01,4.76,-74.03,Cundinamarca,Bogotá D.C,2.00,2.00,2.00,COP,Apartamento,POINT (-74.028 4.757),0
197181,462329,2020-11-22,2020-12-01,4.71,-74.07,Cundinamarca,Bogotá D.C,4.00,4.00,4.00,COP,Casa,POINT (-74.074 4.71),1
197188,961918,2020-07-30,2020-09-22,NaN,NaN,Atlántico,Barranquilla,3.00,3.00,3.00,COP,Casa,POINT EMPTY,0
197205,535840,2020-09-26,2020-10-16,11.19,-74.23,Magdalena,Santa Marta,3.00,3.00,3.00,COP,Apartamento,POINT (-74.231 11.19),1
197485,993094,2020-12-17,9999-12-31,11.00,-74.80,Atlántico,Barranquilla,3.00,3.00,3.00,COP,Apartamento,POINT (-74.796 10.996),0

In [28]:
''' Por lo tanto ya que de un total de 6627 registros, cerca de la mitad (3209) registros tienen las 3 columnas mencionadas iguales. 
Se decide completar los 3214 registros con NaN en la columna 'rooms' de la misma forma, es decir de tal manera que las 3 columnas
tengas los mismos datos. '''

" Por lo tanto ya que de un total de 6627 registros, cerca de la mitad (3209) registros tienen las 3 columnas mencionadas iguales. \nSe decide completar los 3214 registros con NaN en la columna 'rooms' de la misma forma, es decir de tal manera que las 3 columnas\ntengas los mismos datos. "

In [29]:
# Vemos la cantidad de registros que cumplira nuestra condicion
aux = (df.bathrooms == df.bedrooms)&(df.rooms.isnull())
aux.value_counts()

# tiene que ser los 3414 que se encontro anteriormente

False    194135
True       3414
dtype: int64

In [30]:
# Modificando los valores Nulos de la columna 'rooms'. 
df.rooms = np.where(aux, df.bedrooms, df.rooms)

In [31]:
# Comprobamos que se modifico correctamente, ya no habra valores nulos en la columna 'rooms' que tenian esta condicion. 
a = (df.bathrooms == df.bedrooms)&(df.rooms.isnull())
a.value_counts()

False    197549
dtype: int64

In [32]:
# Seguimos actualizando para ver como estan los registros. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197549 entries, 0 to 197548
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             197549 non-null  int64
 1   start_date     197549 non-null  object
 2   end_date       197549 non-null  object
 3   lat            148051 non-null  float64
 4   lon            148051 non-null  float64
 5   l2             197549 non-null  object
 6   l3             186517 non-null  object
 7   rooms          47336 non-null   float64
 8   bedrooms       56544 non-null   float64
 9   bathrooms      172922 non-null  float64
 10  currency       197482 non-null  object
 11  property_type  197549 non-null  object
 12  geometry       197549 non-null  object
 13  target         197549 non-null  int32
dtypes: float64(5), int32(1), int64(1), object(7)
memory usage: 20.3+ MB

In [33]:
# Vemos los demas valores nulos de la columna 'rooms'
df[df.rooms.isnull()]

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
1,200972,2020-09-16,2021-05-14,4.72,-74.07,Cundinamarca,Bogotá D.C,NaN,3.00,2.00,COP,Apartamento,POINT (-74.0731146 4.7227485),0
2,554622,2020-08-19,2020-08-20,4.71,-74.03,Cundinamarca,Bogotá D.C,NaN,NaN,2.00,COP,Casa,POINT (-74.03 4.709),0
3,540321,2020-11-23,2020-11-30,NaN,NaN,Santander,Bucaramanga,NaN,NaN,1.00,COP,Otro,POINT EMPTY,1
4,448920,2020-10-06,2020-10-07,NaN,NaN,Antioquia,Medellín,NaN,NaN,2.00,COP,Apartamento,POINT EMPTY,0
5,991390,2020-12-17,2021-03-04,5.05,-75.51,Caldas,Manizales,NaN,NaN,2.00,COP,Apartamento,POINT (-75.50680161 5.04900894),0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197543,418228,2020-08-11,2020-08-11,4.64,-74.15,Cundinamarca,Bogotá D.C,NaN,NaN,2.00,COP,Apartamento,POINT (-74.1474797 4.6360473),0
197545,976934,2020-11-27,2020-12-09,4.67,-74.06,Cundinamarca,Bogotá D.C,NaN,NaN,1.00,COP,Oficina,POINT (-74.055 4.668),0
197546,508286,2020-10-28,2021-01-02,3.41,-76.54,Valle del Cauca,Cali,NaN,NaN,1.00,COP,Otro,POINT (-76.541 3.413),0
197547,546633,2020-08-14,2020-08-14,4.67,-74.15,Cundinamarca,Bogotá D.C,NaN,NaN,2.00,COP,Casa,POINT (-74.14707691 4.67487431),0
197548,448114,2020-10-06,2020-11-27,10.94,-74.80,Atlántico,Barranquilla,NaN,NaN,1.00,COP,Apartamento,POINT (-74.8028991 10.9359937),0

In [34]:

# Vemos la cantidad de registros que cumple esta condición. 
# Tener datos no nulos en 'rooms' y tener datos diferentes entre 'bedrooms' y 'bathrooms', ya que los iguales ya se habia analizado. 
df[~(df.rooms.isnull()) & (df.bedrooms != df.bathrooms)]

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
16,295491,2020-11-25,9999-12-31,4.82,-75.69,Risaralda,NaN,5.00,5.00,NaN,COP,Apartamento,POINT (-75.6911444664 4.8155589999),0
20,601693,2020-10-29,2021-02-19,11.01,-74.82,Atlántico,Barranquilla,3.00,3.00,NaN,COP,Apartamento,POINT (-74.820614 11.0122552),0
25,584713,2020-12-11,2021-01-13,3.54,-76.28,Valle del Cauca,Palmira,1.00,1.00,NaN,COP,Apartamento,POINT (-76.27601 3.5402),0
27,6858,2020-11-28,9999-12-31,4.82,-75.69,Risaralda,NaN,5.00,5.00,NaN,COP,Finca,POINT (-75.691294 4.8177182),1
37,672202,2020-09-08,9999-12-31,7.03,-73.09,Santander,Piedecuesta,4.00,4.00,NaN,COP,Casa,POINT (-73.0868911743 7.0263608293),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197519,504800,2020-08-18,2021-04-16,4.54,-75.66,Quindío,NaN,5.00,5.00,NaN,COP,Apartamento,POINT (-75.6631449345 4.5436344501),0
197528,834508,2020-11-04,2020-12-15,6.17,-75.57,Antioquia,Envigado,2.00,2.00,NaN,COP,Apartamento,POINT (-75.5673540104 6.1719703075),0
197530,400445,2020-12-02,2021-01-20,4.83,-75.76,Risaralda,NaN,6.00,6.00,NaN,COP,Finca,POINT (-75.7585776037 4.8321104685),1
197535,229810,2020-12-10,2021-02-08,4.72,-74.03,Cundinamarca,Bogotá D.C,3.00,3.00,2.00,COP,Apartamento,POINT (-74.031 4.716),0
197544,444298,2020-10-27,9999-12-31,4.65,-74.16,Cundinamarca,Bogotá D.C,3.00,3.00,NaN,COP,Apartamento,POINT (-74.1619504 4.649682),0

In [35]:
aux = df[~(df.rooms.isnull()) & (df.bedrooms != df.bathrooms)]

(aux.rooms ==  aux.bedrooms).value_counts()

# Se ve que la cantidad de valores que son iguales 'rooms' y 'bedrooms' es grande, casi en su totalidad, por lo tanto es una buena 
# decision completar los valores nulos que se tenia de la columna 'rooms' con el mismo valor de la columna 'bedrooms'

True     24115
False       87
dtype: int64

In [36]:
# Modificando los valores Nulos de la columna 'rooms'. 
df.rooms = np.where(df.rooms.isnull(), df.bedrooms, df.rooms)

In [37]:

# Vemos que aun hay registros que tienen en los 3 campos (rooms, bedrooms, bathdrooms) con valores nulos. 
aux = df[df.rooms.isnull() & df.bedrooms.isnull() & df.bathrooms.isnull()]

aux

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
14,736384,2020-08-26,2020-08-27,5.09,-75.63,Caldas,Manizales,NaN,NaN,NaN,COP,Otro,POINT (-75.6259541 5.0859976),1
21,451915,2020-10-31,2020-11-06,4.66,-74.05,Cundinamarca,Bogotá D.C,NaN,NaN,NaN,COP,Oficina,POINT (-74.052 4.663),1
70,539561,2020-11-23,2020-11-30,NaN,NaN,Valle del Cauca,Cali,NaN,NaN,NaN,COP,Otro,POINT EMPTY,1
90,866175,2020-12-04,2020-12-05,10.99,-74.81,Atlántico,Barranquilla,NaN,NaN,NaN,COP,Casa,POINT (-74.8133243 10.99405411),0
116,430773,2020-09-25,2020-09-25,NaN,NaN,Atlántico,Barranquilla,NaN,NaN,NaN,COP,Otro,POINT EMPTY,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197284,926955,2020-08-27,2020-08-27,5.05,-75.49,Caldas,Manizales,NaN,NaN,NaN,COP,Casa,POINT (-75.4857833 5.0533852),1
197309,521862,2020-10-15,2020-10-15,4.83,-75.69,Risaralda,Pereira,NaN,NaN,NaN,COP,Otro,POINT (-75.690169 4.8302755),0
197344,74493,2020-09-28,2021-04-21,4.59,-74.10,Cundinamarca,Bogotá D.C,NaN,NaN,NaN,COP,Local comercial,POINT (-74.0978797 4.5916352),1
197491,141489,2020-07-27,2020-10-02,5.07,-75.51,Caldas,Manizales,NaN,NaN,NaN,COP,Otro,POINT (-75.5127688 5.0681857),1
197510,915135,2020-08-12,2020-08-27,2.49,-76.58,Cauca,Popayán,NaN,NaN,NaN,COP,Otro,POINT (-76.58029589 2.4853662),0

In [38]:
# Vemos en cuantas caracteristicas tenemos que calcularle el promedio. 
aux.property_type.value_counts()

Otro               3311
Casa                811
Local comercial     707
Apartamento         535
Oficina             426
Finca                54
Parqueadero           6
Name: property_type, dtype: int64

In [39]:
def calculo_promedio_rbb( caracteristica):
    ''' Calcula el promedio de las 'rooms', 'bedrooms' y 'bathrooms'  sin tener en cuenta los valores nulos y los ceros. 
    Devuelve un lista con los valores redondeados '''

    aux = df[df.property_type == caracteristica]
    
    rooms_mean = aux[aux.rooms !=0 ].rooms.mean()
    bedrooms_mean = aux[aux.bedrooms !=0 ].bedrooms.mean()
    bathrooms_mean = aux[aux.bathrooms !=0 ].bathrooms.mean()

    return [rooms_mean.round(), bedrooms_mean.round(), bathrooms_mean.round()]

In [40]:
# Probando la funcion
calculo_promedio_rbb('Casa')

[4.0, 4.0, 3.0]

In [41]:
for i in aux.property_type.unique():
    
    lista_promedio = calculo_promedio_rbb('Casa')

    # completo con estos valores encontrados a los valores nulos. 
    

    df['rooms'] = np.where((df.rooms.isnull() & df.bedrooms.isnull() & df.bathrooms.isnull()), lista_promedio[0], df.rooms )
    df['bedrooms'] = np.where((df.rooms.isnull() & df.bedrooms.isnull() & df.bathrooms.isnull()), lista_promedio[1], df.bedrooms )
    df['bathrooms'] = np.where((df.rooms.isnull() & df.bedrooms.isnull() & df.bathrooms.isnull()), lista_promedio[2], df.bathrooms )

In [42]:
# Comprobamos que ya no hay valores nulos en los 3 campos. (Valores nulos por separado todavia hay)
df[df.rooms.isnull() & df.bedrooms.isnull() & df.bathrooms.isnull()]

Empty DataFrame
Columns: [id, start_date, end_date, lat, lon, l2, l3, rooms, bedrooms, bathrooms, currency, property_type, geometry, target]
Index: []

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197549 entries, 0 to 197548
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             197549 non-null  int64
 1   start_date     197549 non-null  object
 2   end_date       197549 non-null  object
 3   lat            148051 non-null  float64
 4   lon            148051 non-null  float64
 5   l2             197549 non-null  object
 6   l3             186517 non-null  object
 7   rooms          62468 non-null   float64
 8   bedrooms       56544 non-null   float64
 9   bathrooms      172922 non-null  float64
 10  currency       197482 non-null  object
 11  property_type  197549 non-null  object
 12  geometry       197549 non-null  object
 13  target         197549 non-null  int32
dtypes: float64(5), int32(1), int64(1), object(7)
memory usage: 20.3+ MB

In [44]:
# Los demas valores nulos, se completara con el mismo valor que tiene alguna otra columna, es decir los 3 columnas tendran el mismo valor. 
df[df.rooms.isnull() & df.bedrooms.isnull()]

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
2,554622,2020-08-19,2020-08-20,4.71,-74.03,Cundinamarca,Bogotá D.C,NaN,NaN,2.00,COP,Casa,POINT (-74.03 4.709),0
3,540321,2020-11-23,2020-11-30,NaN,NaN,Santander,Bucaramanga,NaN,NaN,1.00,COP,Otro,POINT EMPTY,1
4,448920,2020-10-06,2020-10-07,NaN,NaN,Antioquia,Medellín,NaN,NaN,2.00,COP,Apartamento,POINT EMPTY,0
5,991390,2020-12-17,2021-03-04,5.05,-75.51,Caldas,Manizales,NaN,NaN,2.00,COP,Apartamento,POINT (-75.50680161 5.04900894),0
6,51545,2020-09-13,2020-09-24,4.73,-74.08,Cundinamarca,Bogotá D.C,NaN,NaN,8.00,COP,Casa,POINT (-74.0821496 4.732379),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197543,418228,2020-08-11,2020-08-11,4.64,-74.15,Cundinamarca,Bogotá D.C,NaN,NaN,2.00,COP,Apartamento,POINT (-74.1474797 4.6360473),0
197545,976934,2020-11-27,2020-12-09,4.67,-74.06,Cundinamarca,Bogotá D.C,NaN,NaN,1.00,COP,Oficina,POINT (-74.055 4.668),0
197546,508286,2020-10-28,2021-01-02,3.41,-76.54,Valle del Cauca,Cali,NaN,NaN,1.00,COP,Otro,POINT (-76.541 3.413),0
197547,546633,2020-08-14,2020-08-14,4.67,-74.15,Cundinamarca,Bogotá D.C,NaN,NaN,2.00,COP,Casa,POINT (-74.14707691 4.67487431),0
197548,448114,2020-10-06,2020-11-27,10.94,-74.80,Atlántico,Barranquilla,NaN,NaN,1.00,COP,Apartamento,POINT (-74.8028991 10.9359937),0

In [45]:
# Se modifica las columnas.
df['rooms'] = np.where((df.rooms.isnull() & df.bedrooms.isnull()), df.bathrooms, df.rooms )
df['bedrooms'] = np.where((df.rooms.isnull() & df.bedrooms.isnull()), df.bathrooms, df.bedrooms )

In [46]:
# Comprobamo que ya no hay valores nulos en las 2 columnas en el mismo registro. 
df[df.rooms.isnull() & df.bedrooms.isnull()]

Empty DataFrame
Columns: [id, start_date, end_date, lat, lon, l2, l3, rooms, bedrooms, bathrooms, currency, property_type, geometry, target]
Index: []

In [47]:
# Ahora se hace lo mismo para esta condicion, se pondra del mismo valor las 3 columnas.
df[df.bedrooms.isnull() & df.bathrooms.isnull()]

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
14,736384,2020-08-26,2020-08-27,5.09,-75.63,Caldas,Manizales,4.00,NaN,NaN,COP,Otro,POINT (-75.6259541 5.0859976),1
21,451915,2020-10-31,2020-11-06,4.66,-74.05,Cundinamarca,Bogotá D.C,4.00,NaN,NaN,COP,Oficina,POINT (-74.052 4.663),1
70,539561,2020-11-23,2020-11-30,NaN,NaN,Valle del Cauca,Cali,4.00,NaN,NaN,COP,Otro,POINT EMPTY,1
90,866175,2020-12-04,2020-12-05,10.99,-74.81,Atlántico,Barranquilla,4.00,NaN,NaN,COP,Casa,POINT (-74.8133243 10.99405411),0
116,430773,2020-09-25,2020-09-25,NaN,NaN,Atlántico,Barranquilla,4.00,NaN,NaN,COP,Otro,POINT EMPTY,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197284,926955,2020-08-27,2020-08-27,5.05,-75.49,Caldas,Manizales,4.00,NaN,NaN,COP,Casa,POINT (-75.4857833 5.0533852),1
197309,521862,2020-10-15,2020-10-15,4.83,-75.69,Risaralda,Pereira,4.00,NaN,NaN,COP,Otro,POINT (-75.690169 4.8302755),0
197344,74493,2020-09-28,2021-04-21,4.59,-74.10,Cundinamarca,Bogotá D.C,4.00,NaN,NaN,COP,Local comercial,POINT (-74.0978797 4.5916352),1
197491,141489,2020-07-27,2020-10-02,5.07,-75.51,Caldas,Manizales,4.00,NaN,NaN,COP,Otro,POINT (-75.5127688 5.0681857),1
197510,915135,2020-08-12,2020-08-27,2.49,-76.58,Cauca,Popayán,4.00,NaN,NaN,COP,Otro,POINT (-76.58029589 2.4853662),0

In [48]:
# Se modifica las columnas.
df['bedrooms'] = np.where((df.bedrooms.isnull() & df.bathrooms.isnull()), df.rooms, df.bedrooms )
df['bathrooms'] = np.where((df.bedrooms.isnull() & df.bathrooms.isnull()), df.rooms, df.bathrooms )

In [49]:
# Comprobamos si se hizo correctamente.
df[df.bedrooms.isnull() & df.bathrooms.isnull()]

Empty DataFrame
Columns: [id, start_date, end_date, lat, lon, l2, l3, rooms, bedrooms, bathrooms, currency, property_type, geometry, target]
Index: []

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197549 entries, 0 to 197548
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             197549 non-null  int64
 1   start_date     197549 non-null  object
 2   end_date       197549 non-null  object
 3   lat            148051 non-null  float64
 4   lon            148051 non-null  float64
 5   l2             197549 non-null  object
 6   l3             186517 non-null  object
 7   rooms          197549 non-null  float64
 8   bedrooms       62394 non-null   float64
 9   bathrooms      172922 non-null  float64
 10  currency       197482 non-null  object
 11  property_type  197549 non-null  object
 12  geometry       197549 non-null  object
 13  target         197549 non-null  int32
dtypes: float64(5), int32(1), int64(1), object(7)
memory usage: 20.3+ MB

In [51]:
# Vemos los nulos de la columna 'bedrooms'
df[df.bedrooms.isnull()]

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
2,554622,2020-08-19,2020-08-20,4.71,-74.03,Cundinamarca,Bogotá D.C,2.00,NaN,2.00,COP,Casa,POINT (-74.03 4.709),0
3,540321,2020-11-23,2020-11-30,NaN,NaN,Santander,Bucaramanga,1.00,NaN,1.00,COP,Otro,POINT EMPTY,1
4,448920,2020-10-06,2020-10-07,NaN,NaN,Antioquia,Medellín,2.00,NaN,2.00,COP,Apartamento,POINT EMPTY,0
5,991390,2020-12-17,2021-03-04,5.05,-75.51,Caldas,Manizales,2.00,NaN,2.00,COP,Apartamento,POINT (-75.50680161 5.04900894),0
6,51545,2020-09-13,2020-09-24,4.73,-74.08,Cundinamarca,Bogotá D.C,8.00,NaN,8.00,COP,Casa,POINT (-74.0821496 4.732379),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197543,418228,2020-08-11,2020-08-11,4.64,-74.15,Cundinamarca,Bogotá D.C,2.00,NaN,2.00,COP,Apartamento,POINT (-74.1474797 4.6360473),0
197545,976934,2020-11-27,2020-12-09,4.67,-74.06,Cundinamarca,Bogotá D.C,1.00,NaN,1.00,COP,Oficina,POINT (-74.055 4.668),0
197546,508286,2020-10-28,2021-01-02,3.41,-76.54,Valle del Cauca,Cali,1.00,NaN,1.00,COP,Otro,POINT (-76.541 3.413),0
197547,546633,2020-08-14,2020-08-14,4.67,-74.15,Cundinamarca,Bogotá D.C,2.00,NaN,2.00,COP,Casa,POINT (-74.14707691 4.67487431),0
197548,448114,2020-10-06,2020-11-27,10.94,-74.80,Atlántico,Barranquilla,1.00,NaN,1.00,COP,Apartamento,POINT (-74.8028991 10.9359937),0

In [52]:
# Completamos los nulos de la columna 'bedrooms' con el mismo valor que tiene la columna 'rooms'

df['bedrooms'] = np.where(df.bedrooms.isnull(), df.rooms, df.bedrooms )

In [53]:
# Ahora completamos los valores nulos de la columna 'bathrooms'
df[df.bathrooms.isnull()]

,id,start_date,end_date,lat,lon,l2,l3,rooms,bedrooms,bathrooms,currency,property_type,geometry,target
14,736384,2020-08-26,2020-08-27,5.09,-75.63,Caldas,Manizales,4.00,4.00,NaN,COP,Otro,POINT (-75.6259541 5.0859976),1
16,295491,2020-11-25,9999-12-31,4.82,-75.69,Risaralda,NaN,5.00,5.00,NaN,COP,Apartamento,POINT (-75.6911444664 4.8155589999),0
20,601693,2020-10-29,2021-02-19,11.01,-74.82,Atlántico,Barranquilla,3.00,3.00,NaN,COP,Apartamento,POINT (-74.820614 11.0122552),0
21,451915,2020-10-31,2020-11-06,4.66,-74.05,Cundinamarca,Bogotá D.C,4.00,4.00,NaN,COP,Oficina,POINT (-74.052 4.663),1
25,584713,2020-12-11,2021-01-13,3.54,-76.28,Valle del Cauca,Palmira,1.00,1.00,NaN,COP,Apartamento,POINT (-76.27601 3.5402),0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197517,237759,2020-11-24,2021-03-03,5.03,-73.98,Cundinamarca,Zipaquirá,3.00,3.00,NaN,COP,Apartamento,POINT (-73.9848112662 5.0268278092),0
197519,504800,2020-08-18,2021-04-16,4.54,-75.66,Quindío,NaN,5.00,5.00,NaN,COP,Apartamento,POINT (-75.6631449345 4.5436344501),0
197528,834508,2020-11-04,2020-12-15,6.17,-75.57,Antioquia,Envigado,2.00,2.00,NaN,COP,Apartamento,POINT (-75.5673540104 6.1719703075),0
197530,400445,2020-12-02,2021-01-20,4.83,-75.76,Risaralda,NaN,6.00,6.00,NaN,COP,Finca,POINT (-75.7585776037 4.8321104685),1
197544,444298,2020-10-27,9999-12-31,4.65,-74.16,Cundinamarca,Bogotá D.C,3.00,3.00,NaN,COP,Apartamento,POINT (-74.1619504 4.649682),0

In [54]:
# Completamos los nulos de la columna 'bedrooms' con el mismo valor que tiene la columna 'rooms'

df['bathrooms'] = np.where(df.bathrooms.isnull(), df.bedrooms, df.bathrooms )

In [55]:
# Exporto a un .csv el dataframe para su posterior prediccion. 
df.to_csv('data.csv', index = False)